@use "../tokens" as *;

.hmcts-error-summary {
  border: 4px solid $hmcts-colour-error;
  padding: $hmcts-space-4;
  margin: 0 0 $hmcts-space-5;
  background: $hmcts-tint10-rose-red;
}

.hmcts-error-summary__title {
  margin: 0 0 $hmcts-space-2;
  font-weight: $hmcts-font-weight-bold;
  font-size: $hmcts-font-size-h4;
}

.hmcts-error-summary__body {
  margin: 0;
}

.hmcts-error-summary__list {
  margin: $hmcts-space-3 0 0 0;
  padding-left: 1.2em;
}

.hmcts-error-summary__list a {
  color: $hmcts-colour-link;
  text-decoration: underline;
  font-weight: $hmcts-font-weight-bold;
}

.hmcts-error-summary__list a:focus {
  outline: 3px solid $hmcts-colour-focus;
  outline-offset: 2px;
}
