@use "../tokens" as *;

.hmcts-code-block {
  background: $hmcts-tint10-grey;
  border: 1px solid $hmcts-tint25-grey;
  padding: $hmcts-space-4;
  overflow-x: auto;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: $hmcts-font-size-footnote;
  line-height: 1.4;
}

.hmcts-code-block code {
  white-space: pre;
}
