@use "../tokens" as *;

.hmcts-docs-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: $hmcts-space-5;
  align-items: start;
}

/* Sidebar stays on grey page background */
.hmcts-docs-layout__sidebar {
  position: sticky;
  top: $hmcts-space-5;
}

/* Main content is a white surface */
.hmcts-docs-layout > main {
  background: $hmcts-colour-white;
  padding: $hmcts-space-5;
  border-left: 1px solid $hmcts-tint25-grey;
}


@media (max-width: 900px) {
  .hmcts-docs-layout {
    grid-template-columns: 1fr;
  }

  .hmcts-docs-layout__sidebar {
    position: static;
  }
}
