// Typeface
$hmcts-font-family-base: arial, sans-serif;

// Weights
$hmcts-font-weight-regular: 400;
$hmcts-font-weight-bold: 700;

// Body
$hmcts-font-size-body: 16px;
$hmcts-font-size-body-mobile-min: 14px;

// Headings
$hmcts-font-size-h1: 40px;
$hmcts-font-size-h2: 32px;
$hmcts-font-size-h3: 24px;
$hmcts-font-size-h4: 16px;
$hmcts-font-size-footnote: 13px;

// Line heights
$hmcts-line-height-body: 1.5;
$hmcts-line-height-heading: 1.15;
